{% extends "base.html" %}
{% block title %}Top{% endblock %}
{% block content %}
    <h1>Edit Distance</h1>
    <form id="js_form">
      <div class="row mb-3">
        <label for="js_src" class="col-sm-2 col-form-label">src text</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="js_src">
        </div>
      </div>
      <div class="row mb-3">
        <label for="js_dst" class="col-sm-2 col-form-label">dst text</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="js_dst">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id='js_response' class="mt-5 fs-2">
    </div>
    <script>
      document.getElementById("js_form").addEventListener("submit", async function(e) {
        e.preventDefault()
        var base_path = "{{ base_path }}"
        var url = `${base_path}/api/edit_distance`
        var src = document.getElementById("js_src").value
        var dst = document.getElementById("js_dst").value
        var response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({src: src, dst: dst})
        })
        var data = await response.json()
        document.getElementById('js_response').textContent = "Edit distance: " + data.edit_distance
      })
    </script>
{% endblock %}